<a href="https://colab.research.google.com/github/nighty-44/karilyn_INFO3020_Spring2020/blob/master/a10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1

Create a tsudent table in MySQL database, the requirements are as follows:

1) The table should contain at least 6 columns, fave of them must be {stuid, stuname, major, stuyear, tuition}

2) Use the correct data type to define your columns

3) Export the database as a .sql file

In [0]:
import pymysql

studb=pymysql.connect("localhost","root","n!ghty01","studb")
stucursor=studb.cursor()
stucursor.execute("select version()")
sql="select * from tstudent"

command=stucursor.execute(sql)
results=stucursor.fetchall()
print("tstuid \t tstuname \t tmajor \t tstuyear \t ttuition \t tcollege")
stucursor.close()
results=""
studb.close()

# Problem 2

Given a sql file "world.sql," complete the following tasks:

1) Import the file into your MySQL Server

2) Write a function which could retrieve all the data from the table "country" in database "world"

3) Write a function which could retrieve one record from the table "country" by a specific parameter which is related to the field "Name"

In [0]:
import pymysql

world = pymysql.connect("localhost", "root", "n!ghty01", "world")
worldcursor = world.cursor()

sqlA = "select * from country"
commandA = worldcursor.execute(sqlA)
resultA = worldcursor.fetchall()
print(resultA)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

sqlB = "select Name from country"

command = worldcursor.execute(sqlB)
resultB = worldcursor.fetchall()
print(resultB)


worldcursor.close()
resultA = ""
resultB = ""
world.close()