<a href="https://colab.research.google.com/github/nighty-44/karilyn_INFO3020_Spring2020/blob/master/a10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1

For the student table we created in the last assignment, write a function which can add a student into the table.

1.   the function accepts data in command line.
2.   insert at least 10 students into the table.
3. the major must be “data science”, “information science”, ”computer science”
4. set at least 3 students in “data science”, 4 in “information science”, 5 in “computer science”

In [0]:
import pymysql

studb = pymysql.connect("localhost", "root", "info3020", "studb")
stucursor = studb.cursor()
sqlA = "insert into tstudent(tstuid) valueA(%s)"
sqlB = "insert into tstudent(tstuname) valueB(%s)"
sqlC = "insert into tstudent(tmajor) valueC(%s)"

valueA = input("please give ID: ")
valueB = input("please give Name: ")
valueC = input("please give Major:")


commandA = stucursor.execute(sqlA, valueA)
commandB = stucursor.execute(sqlB, valueB)
commandC = stucursor.execute(sqlC, valueC)
studb.commit()
stucursor.close()
studb.close()

# Problem 2

write a function which can delete a student by stuid (in command line)

In [0]:
import pymysql

studb = pymysql.connect("localhost", "root", "info3020", "studb")
stucursor = studb.cursor()
sql = "delete from tsudent where tstuid=%s"

values = ("002")
command = stucursor.execute(sql, values)
studb.commit()
stucursor.close()
studb.close()

# Problem 3

write a function which can modify a student’s name(in command line)

In [0]:
import pymysql

studb = pymysql.connect("localhost", "root", "info3020", "studb")
stucursor = studb.cursor()
sql = "update tsutdent set tstuname=%s where tstuid=%s"

values =("Bob the Cat", "018")
command=stucursor.execute(sql, values)
studb.commit()
stucursor.close()
studb.close()

# Problem 4

write a function which can get the total count of students in one specific major (in command line)

In [0]:
import pymysql

studb = pymysql.connect("localhost", "root", "info3020", "studb")
stucursor = studb.cursor()
sql = "insert into tcounts(tstuid, tstuname, tmajor) select id, name, major from tsudent where major=information science"

command = stucursor.execute(sql)
studb.commit()

studb.close()

# Problem 5

write a function which can get one student’s id and name randomly (in command line)

In [0]:
import pymysql

studb = pymysql.connect("localhost", "root", "info3020", "studb")
stucursor = studb.cursor()
sql = "select * from tstudent, order by random()"

command = stucursor.execute(sql)
results = stucursor.fetchone()

stucursor.close()
studb.close()