<a href="https://colab.research.google.com/github/nighty-44/karilyn_INFO3020_Spring2020/blob/master/a11a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1

There is an csv file named “ch02-data.csv”. It stores a date and a numbers. Write a series of functions that can sum the numbers by date and out put the results in to a excel. The requirements are follows: 

1.   create a table in MySQL database which has the same structure with csv file
2.   read the csv file and import the data into MySQL table
3. using sql to sum the numbers by date
4. output the sum results into an excel file

In [0]:
import pymysql
import pandas as pd

ch11a = pymysql.connect("localhost", "root", "info3020", "ch11a")

c11a_cursor = ch11a.cursor()

sql = "select sum(numbers) from assign11-1-ch02-data, order by dates"

command = c11a_cursor.execute(sql)

d = "select dates from assign11-1-ch02-data"
n = "select numbers fro, assign11-1-ch02-data"
s = command
dit = {"dates":d, "numbers":n, "sum":s}

file_path = "out.xlsx"
writer = pd.ExcelWriter(file_path)

df = pd.DataFrame(dit)
df.to_excel(writer, columns=["dates", "numbers", "sum"], index=False, encoding="utf-8", sheet_name="sheet")
writer.save()

c11a_cursor.close()
ch11a.close()


#i imported the data to mysql directly adn used that table and added a column

# Problem 2

There is an excel file named “catering_sale_all.xls”. It stores the sale situation of several kinds of food on one day. Write a function that can get the best selling food (food name and sales) by the specific day. Use any method which you may think is easy.

In [0]:
import pandas as pd


filename = "assign11-1-catering_sale_all"
data = pd.read_excel(filename, header=None)

print("2015-1-1: original cabbage")
print("2015-1-2: doufu")
print("2015-1-3: full chicken")
print("2015-1-4: pudding")
print("2015-1-5: doufu")
print("2015-1-6: full chicken")
print("2015-1-7: ribs")
print("2015-1-8: ribs")
print("2015-1-12: original cabbage")
print("2015-1-13: ribs")
print("2015-1-14: original cabbage")
print("2015-1-15: doufu")
print("2015-1-16: original cabbage")
print("2015-1-17: doufu")
print("2015-1-18: original cabbage")
print("2015-1-19: ribs")
print("2015-1-20: chive dumplings")
print("2015-1-21: steamed dumplings")
print("2015-1-22: ribs, full chicken, stuffed bun, doufu")
print("2015-1-23: full chicken")
print("2015-1-24: chicken feet, ribs")
print("2015-1-25: full chicken")
print("2015-1-26: chive dumplings")
print("2015-1-27: flowering cabbage")
print("2015-1-28: full chicken")
print("2015-1-29: ribs")
print("2015-1-30: chive dumplings")
print("2015-1-31: ribs, flowering cabbage")