<a href="https://colab.research.google.com/github/nighty-44/karilyn_INFO3020_Spring2020/blob/master/a11b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 3

In database "world", there is a table which stores the life expectancy of most countries. Using bar plots, display the life expectancy by countries in one specific continent.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


filename = "world"
data = pd.read_sql_table("Country")

col = ["Africa", "Antarctica", "Asia", "Europe", "North America", "Oceania", "South America"]

colors = ["lightblue", "lightgreen", "magenta", "gold", "pink", "gray", "blue"]

plt.figure(figsize=(10, 10))
polys = plt.bar(data["LifeExpectancy"], data[col].values.T, colors=colors)

rectangles = []

for poly in polys:
    rectangles.append(plt.Rectangle((0, 0), 1, 1, fc=poly.get_facecolor()[0]))
    legend = plt.legend(rectangles, col, loc=3)
    frame = legend.get_frame()
    frame.set_color("white")


plt.show()

TypeError: ignored

# Problem 4

There is an excel file named "catering_sale_all.xls". It stores the sale situation of several kinds of food in one day. Using the line chart, display the selling situation of everyday by a specific food name.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

filename = "assign11-1-catering_sale_all"
data = pd.read_excel(filename, header=None)

plt.ylim(0, 30)
plt.plot(data)
plt.show()