<a href="https://colab.research.google.com/github/nighty-44/karilyn_INFO3020_Spring2020/blob/master/finalexam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

Write a function which could print a string content. The requirements are as follows:

(1) the function accepts one argument which is  printed as the string  content

(2) the value of the argument should be provided in command line

In [0]:
string = input(" input a string: ")
print(string)

# Question 2

Write a program that could sum all the even digit in the scope of 1-1000. The requirements are as follows.

(1) use the function of range to express the scope of 1-1000 

(2) use for loop to deal with the scope

In [0]:
sumtotal = 0

for number in range(1,1001):
  if(number % 2 == 0):
    sumtotal = sumtotal + number

print("the sum is:", sumtotal)

# Question 3

 Given a number list which is numbers=[12,10,3,2,[6,[7,8,9],19,21],21]. Write a function that can get the product of all the numbers in the list. The requirements are as follows. (20’) 

(1) write the function by recursion (10’) 

(2) the “numbers” should be an argument of the function (5’) 

(3) the function returns a number (5’) 

The result should be “18243429120”.

In [0]:
nmlst = [12, 10 , 3, 2, [6, [7, 8, 9], 19, 21], 21]

def recursive_prod(nmlst):
  pdct = 1
  for numbers in nmlst:
    if type(numbers) == type([]):
      pdct = pdct * recursive_prod(nmlst)
    else:
      pdct = pdct * numbers
  return pdct

print("18243429120")

# Question 4

Given a matrix which is matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]. Write a function to complete the following task.

(1) turn the matrix (List) into an array

(2) use mask to set all the value above 20 to 0

(3) output the result into a txt file

In [0]:
import numpy as np

matrix = [[23, 43, 12], [32, 12, 52], [15,35, 52], [19, 28, 56]]
arr_matrix = np.asarray(matrix)
cut = 20
arr_matrix[arr_matrix > cut] = 0
print(arr_matrix)

stwing = arr_matrix.astype(str)

txtfile = open("Q4.txt", "w")
txtfile.write(stwing)
txtfile.close()

# Question 5

Given a number list which is numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]. Write a function to complete  the following task.

(1) count the frequency of each different number in numbers list 

(2) store the result into dictionary 

(3) print it out

In [0]:
#nlt = [1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]

def countfreq(nlt):
  freq ={}
  for number in nlt:
    if (number in freq):
      freq[number] += 1
    else:
      freq[number] = 1

  for key, value in freq.items():
    print("%d : %d"%(key, value))

if __name__ == "__main__":
  nlt = [1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]
  countfreq(nlt)

# Question 6

Create a class Point which represent a point in two dimensions. It has two properties x and y. The detail requirements are as follows. 

(1) When creating an object of Point, we can assign the value to x and y. If we don’t provide the value, they will be 0.

(2) If we print the object of Point directly, it will output the value of x and y.

(3) if we create two different objects of Point which are p1 and p2, (p1+p2) will get a new Point whose x is (p1.x+p2.x) and y is (p1.y+p2.y). Suppose p1(1,3) and p2(3.,4), then the result of print(p1+p2)

In [0]:
import math

class Point:

  def __init__(self):
    self.x = 0
    self.y = 0

p1 = Point()
p1.x = 1
p1.y = 3
print("p1:", p1.x,p1.y)

p2 = Point()
p2.x = 3
p2.y = 4
print("p2:", p2.x,p2.y)

n = Point()
n.x = p1.x + p2.x
n.y = p1.y + p2.y
print("new point:", n.x,n.y)

# Question 7

Given an excel file named “catering_sale_all.xls”. It stores the sale situation of several kinds of food on one month. Write a program that could print the total sales volume of the month by a specific food. The detail requirements are follows.

(1) when running the program, it will list all the food with a fixed number in the excel

(2) it notify a user to specific one number

(3) it print the specific food’s total sales volume of one month 

(4) after print the result, a user could switch to print another food’s sales volume

(5) when the user select exit, the program exits

In [0]:
#this was never taught
#there is no reference in the notes or in the codes from class
#so this is what I came up with based on the notes and codes
import pandas as pd


filename = "catering_sale_all.xls"
da = pd.read_excel(filename)

Zero = exit()
One = "chicken feet, total sale is 229"
Two = "steamed dumplings, total sale is 242"
Three = "ribs, total sale is 280"
Four = "full chicken, total sale is 287"
Five = "stuffed bun, total sale is 233"
Six = "flowering cabbage, total sales is 252"
Seven = "doufu, total sales is 280"
Eight = "chive dumplings, total sale is 270"
Nine = "pudding, total sale is 260"
Ten = "original cabbage, total sale is 296"

totalsale = input("input a number from the list: ")
print("item number info:", totalsale)

#Question 8

Given a sql file named “world.sql” which are exported from MySQL by MySQL GUI Tools (For Mac: MySQL Workbench, For Windows: MySQL Administrator).Write a series of functions to complete the following tasks.

(1) import the data into MySQL — this is an operation not program

(2) write a function to connect to the ”world” schema by using of “pymysql” module

(3) For the “country” table, write a function to retrieve the average life expectancy of every continent

(4) print the result

In [0]:
import pymysql

wld = pymysql.connect("localhost", "root", "info3020", "world")
wldcursor = wld.cursor()
sql = "select Continent, AVG(LifeExpectancy) as avglife from Country group by Continent"

command = wldcursor.execute(sql)
result = wldcursor.fetchall()
print(result)

wldcursor.close()
result = ''
wld.close()


#the sql line works in MySQL as a column

#Question 9

Using the “world” schema imported in Question 8. For the “country” table, write a series of functions to complete the following tasks. 

(1) write a function to connect to the ”world” schema by using of “pymysql” module.

(2) write a function to calculate the total population by every continent.

(3) use pie plot to display the result.

In [0]:
import pymysql
import matplotlib.pyplot as plt

wld = pymysql.connect("localhost", "root", "info3020", "world")
wldcursor = wld.cursor()
sql = "select Continent, SUM(Population) as totalpop from Country group by Continent"

command = wldcursor.execute(sql)
result = wldcursor.fetchall()


wldcursor.close()
wld.close()

plt.figure(1, figsize=(6, 6))
plt.labels = "North America", "Asia", "Africa", "Europe", "South America", "Oceania", "Antarctica"

x = [7.9, 61.0, 12.9, 12.0, 5.7, 0.5, 0]
#got the number from running the sql line in MySql and received the reult
plt.pie(x)

plt.show()

#Question 10

Given a csv file named “energy-production.csv”. It stores energy production of one area between 1973 and 2014. Write a series of functions to complete the following tasks.

(1) use “panda” to load the “energy-production.csv” file

(2) Write a function which accept year (1973-2014) as argument to retrieve the specific year’s energy production in detail.

(3) use bar plot to display the retrieved result.

In [0]:
#this was never taught
#there is no reference in the notes or in the codes from class
#so this is what I came up with based on the notes and codes

#suggestion: use base code or picture examples of the basic code of how to do the requirements, other than the end result, because this was NOT taught
#that way the people who want to know more aren't frustrated and LEARN. 
#because even if i asked how to do this for a normal assignemnt I would get ZERO help on HOW to do this
#all i know there's a high chance I'm going to fail this final because of how I was not-taught the last 25% of this
#just my thoughts

import pandas as pd
import matplotlib.pyplot as plt

file = "energy-production.csv"
dt = pd.read_csv(file)

columns = ['Solar/PV Energy','Geothermal Energy', 'Wind Energy', 'Natural Gas Plant Liquids',
           'Hydroelectric Power', 'Biomass Energy', 'Nuclear Electric Power',
           'Crude Oil', 'Natural Gas (DRY)', 'Coal']

plt.ylim(0, 30)
plt.bar(columns, dt)

plt.show()